@import "./normalize.css";

/* Color Pallete */
:root {
  --color-body: #918ca4;
  --color-body-darker: #5c5577;
  --color-headings: #1b0760;
}

/* Typography */
body {
  color: var(--color-body);
  font-family: "Montserrat Alternates", sans-serif;
}

html {
  font-size: 62.5%;
  line-height: 1.5;
}

::selection {
  background: var(--color-body-darker);
  color: #fff;
}

h1,
h2,
h3 {
  color: var(--color-headings);
  margin-bottom: 1rem;
  margin-top: 3rem;
}

h1 {
  font-size: 2.781rem;
}

h2 {
  font-size: 2.527rem;
}

h3 {
  font-size: 2.302rem;
}

p {
  font-size: 1.924rem;
}

@media screen and (min-width: 1024px) {
  h1 {
    font-size: 2.281rem;
  }

  h2 {
    font-size: 2.027rem;
  }

  h3 {
    font-size: 1.802rem;
  }

  p {
    font-size: 1.424rem;
  }
}

/* Icons */
.icon {
  color: var(--color-body);
  width: 3rem;
}

@media screen and (min-width: 768px) {
  .icon {
    width: 2rem;
  }
}

/* Container */
.container {
  max-width: 1140px;
  margin: 0 auto;
  padding: 2rem;
}

/* Table of Content */
.tableOfContent {
  background-color: #f8f4f4;
  border-radius: 1rem;
  padding: 0.5rem 1rem;
}

.tableOfContent__header {
  align-items: center;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.tableOfContent__heading {
  color: var(--color-body-darker);
}
